.eventCard {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 16px;
    padding-bottom: 20px;
    border-top: solid rgb(222, 211, 211) 1px;
    text-decoration: none;
}

.preview {
    height: 95px;
    width: 168px;
    margin-right: 12px;
}

.details {
    box-sizing: border-box;
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none;
    vertical-align: top;
}

.time {
    box-sizing: border-box;
    color: rgb(135, 116, 87);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.35px;
    line-height: 20px;
    padding: 4px 0px 4px 0px;
    text-decoration: none;
    margin: 0;
}

.name {
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-bottom: 4px;
    padding-top: 0px;
}

.group {
    color: rgb(117, 117, 117);
    font-size: 14px;
    line-height: 20px;

}

.attendees {
    font-size: 14px;
    line-height: 20px;
    color: rgb(117, 117, 117);
}
