.groupCard {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 16px;
    padding-bottom: 20px;
    border-top: solid rgb(222, 211, 211) 1px;
    text-decoration: none;
}

.preview {
    height: 95px;
    width: 168px;
    margin-right: 12px;
    border-radius: 5px;
}

.details {
    box-sizing: border-box;
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none;
    vertical-align: top;
    text-decoration-line: none;
}

.groupCardLocation {
    box-sizing: border-box;
    color: rgb(135, 116, 87);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.35px;
    line-height: 20px;
    padding: 0px 0px 16px 0px;
    text-decoration-line: none;
    margin: 0;
}

.groupCardName {
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-decoration-line: none;
}

.groupCardAbout {
    display: -webkit-box;
    color: rgb(117, 117, 117);
    font-size: 14px;
    line-height: 20px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    max-height: 40px;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-decoration-line: none;
}

.groupCardStats {
    font-size: 14px;
    line-height: 20px;
    color: rgb(117, 117, 117);
    text-decoration-line: none;
    padding-top: 24px;
}
