.membership-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.membersTitle {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}

.membersCard {
    margin-right: 30px;
    margin-top: 16px;
}

.pending-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
