.homeContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin-top: 68px;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;

}

.welcome {
    margin-top: 24px;
    margin-bottom: 40px;
}

.mainText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
    width: 1200px;
    height: 116px;
}

.welcomeText {
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

.welcomeSubtext {
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-block-end: 0px;
    margin-block-start: 40px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 40px;
}

.userInfo {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    line-height: 24px;
    tab-size: 4;
    gap: 4rem;
}

.generalInfo {
    display: block;
    width: 368px;
}

.yourInfo {
    background-color: rgb(246, 247, 248);
    box-sizing: border-box;
    display: block;
    padding: 24px 16px;
    border-radius: 10px;
}

.infoHeader {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 24px;
    margin-bottom: 16px;
}

.your {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-block-end: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.see {
    color: rgb(0, 130, 148);
    cursor: not-allowed;
    font-size: 16px;
    line-height: 24px;
    text-decoration-color: rgb(0, 130, 148);
    text-decoration-line: rgb(0, 130, 148);
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    margin-top: 16px;
}

.listDisplay {
    width: 768px;
}

.discover {
    color: rgb(0, 130, 148);
    cursor: not-allowed;
    font-size: 16px;
    line-height: 24px;
    text-decoration-color: rgb(0, 130, 148);
    text-decoration-line: rgb(0, 130, 148);
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    margin-top: 16px;
    text-align: center;
}

.tab {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    line-height: 24px;
    padding-bottom: 12px;
}

.picked {
    font-size: 20px;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 16px;
    padding: 0px;
    color: rgb(0, 130, 148);
    border-bottom:rgb(0, 130, 148) solid 4px;
}

.unpicked {
    font-size: 20px;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 16px;
    padding: 0px;
    color: rgb(117, 117, 117)
}
