.logo {
    width: 125px;
    height: 50px;
    margin-top: 10px;
}

a {
    text-decoration-line: none;
}

ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    justify-content: space-between;
    line-height: 24px;
    min-height: 64px;
    tab-size: 4;
    list-style: none;
}

.corners {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: rgb(232, 222, 222) 1px solid;
    max-height: 68px;
}

.rightCorner {
    display: flex;
    flex-direction: row;
}

.leftCorner {
    margin-bottom: 0px;
    margin-top: 0px;
}

li {
    list-style: none;
}

.language {
    display: flex;
    flex-direction: row;
    cursor: default;
}

.english {
    box-sizing: border-box;
    background-color: white;
    border-width: 0px;
    color: rgb(33, 33, 33);
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: 20px;
    margin-left: 0px;
    margin-right: 0px;
    tab-size: 4;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
}

.langIcon {
    height: 20px;
    width: 20px;
}

.startButton {
    align-items: center;
    box-sizing: border-box;
    color: rgb(0, 130, 148);
    cursor: pointer;
    display: flex;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 42px;
    margin-right: 20px;
    line-height: 20px;
    tab-size: 4;
    text-decoration-color:rgb(0, 130, 148);
    text-decoration-line: none;
    text-decoration-style: solid;
}

.startButton:hover {
    color:rgb(0, 130, 148)
}

.loggedInCorner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
